* {
   margin: 0;
   padding: 0;
}

.title {
   text-align: center;
   margin: 1em 0;
   font-size: 2.5rem;
   font-family: sans-serif;
}

#alerts {
   padding-top: 2em;
   text-align: center;
}

.scores {
   margin: auto;
   display: grid;
   grid-template-columns: auto auto;
   text-align: center;
   max-width: 800px;
   background-color: #eee;
   padding: 0.5em;
   border-radius: 3rem;
}

#userScore,
#aiScore {
   padding: 0.3em 0;
   background-color: #fff;
}

#userScore {
   border-radius: 3rem 0 0 3rem;
}

#aiScore {
   border-radius: 0 3rem 3rem 0;
}

.items-row {
   display: grid;
   grid-template-columns: auto auto auto;
   text-align: center;
}

.item-button {
   width: 20vw;
   height: 20vw;
   margin: auto;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 50%;
   background-position: center;
   border: none;
}

#rock {
   background-image: url("images/rock.jpg");
}

#paper {
   background-image: url("images/paper.jpg");
}

#scissors {
   background-image: url("images/scissors.jpg");
}

#rps {
   margin-top: 10vh;
   padding: 5em 0;
   width: 100vw;
   background-color: rgb(1, 182, 179);
}

@media only screen and (max-width: 768px) {
   #rps {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0vw;
      height: fit-content;
   }

   .scores {
      margin: 1em;
   }

   .items-row {
      grid-template-columns: auto;
   }

   .item-button {
      width: 60vw;
      height: 60vw;
      margin: 1em;
   }

   #message {
      font-size: 10vw;
   }
   #replay {
      font-size: 10vw;
      border-radius: 20vw;
   }
}

#replay {
   padding: 0.25em 0.5em;
   background-color: #ff3721;
   color: #fff;
   font-weight: 700;
   font-size: 1.25em;
   font-family: sans-serif;
   border-radius: 5em;
}
